*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
body{
    background-color: #e3e3e3;
    background-image: url(../img/snowy_forest.png);
    background-size: cover;
    background-position: center;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 65px;
    background-color: #595959;
}
.logo{
    color: #e6e6e6;
    font-size: 18px;
}
.nav-options{
    display: flex;
    width: 400px;
    justify-content: space-around;
}
.nav-options li{
    list-style: none;
}
.nav-options a{
    text-decoration: none;
    color: #e6e6e6;
    font-size: 14px;
}
.nav-options a:hover{
    background-color: #e6e6e6;
    color: #595959;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.2s ease;
}
.burger{
    display: none;
}
.burger div{
    background-color: #e6e6e6;
    width: 30px;
    height: 3px;
    margin: 5px;
}
.container{
    margin-left: 12%;
}
.main-header h1{
    font-weight: 900;
    margin-top: 50px;
}
.main-header h4{
    font-weight: 100;
    margin-left: 20px;
}
.text{
    margin-top: 25px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    color: black;
}
.read-more-btn{
    margin-top: 20px;
    padding: 5px 12px;
    background-color: #595959;
    color: #e6e6e6;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.read-more-btn:hover{
    opacity: 0.7;
}
.more-text{
    display: none;
}
.text.show-more .more-text{
    display: inline;
}